<% provide(:title, 'About...') %>
<h1>About...</h1>
<p>
  The Tracknwin project was entirely designed and implemented by <a href="http://adriankuciel.pl">Adrian Kuciel</a> - student of Human–computer interaction on Jagiellonian University for his Bachelor's degree.
</p>
</br>
<h5>Technologies incorporated:</h5>
<ol>Rails 3.0</ol>
<ol>Java</ol>
<ol>JavaScript (jQuery)</ol>
<ol>CSS 3</ol>
<ol>Bootstrap</ol>
<h5>Tools used:</h5>
<ol>Notepad++</ol>
<ol>Eclipse juno</ol>
<ol>Adobe Photoshop CS6</ol>
<ol>Eldorado mini icons set</ol>
<h5>Title photo:</h5>
<ol><a href="http://oldtimewallpapers.com/en/motorcycles/original_9153_Bicycle-near-the-wall.html">"Bicycle near wall"</a> - free wallpaper from www.oldtimewallpapers.com</ol>