<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  To start using Tracknwin simply <%= link_to "Sign up!", signup_path%> by providing all the required data, then find our Android Application on app store and install it on your smartphone.
  After signing in on your phone, you will be able to start tracking your rides.
  Visit this site, sign in and check your recent rides, compare with friends and win prizes in monthly organized Tournaments.
</p>