<div class="center hero-unit">
  <h1>Welcome to the tracknwin!</h1>

  <h2>
    Track your bike rides, compete with friends and win prizes.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
