<div class="center hero-unit hero-bg">
<div class="hero-title">
  <h1>Welcome to the Tracknwin!</h1>
</br>
</br>
  <h3>
    Track, store and analyze your bike rides, find friends and win prizes!
  </h3>
</br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </br>
    </br>
  <p class="small">Already registered? <%= link_to "Sign in!", signin_path%></p>
</div>
</div>